/*****
    Cellular :: style-large
*****/
//////
@media screen and (min-width: $res_large) {
    body {
        // background: url(../assets/images/large-background-body.png) no-repeat;
    }

    // Layout

    #header {
        // background: url(../assets/images/large-background-header.png) no-repeat;
    }

    #logo {
        &:hover {
        }
        & > a {
        }
    }

    #page-wrap {
        //@include bg_colorover($c2, ../assets/images/bg_photo.jpg);
    }

    #app {
    }

    #content-main {
    }

    #footer {
        // background: $c1 url(../assets/images/honeycomb_dark.png) repeat;
    }
}