/*****
Cellular :: navigation
*****/
//////
$showDropdowns: true;
///

/////
@media screen {
    // Primary Navigation
    #nav {
        position: absolute;
        margin: 2em 0 0 ($logo_width + 20px);
        padding: 0;

        ul {
            margin: 0;
        }
        li {
            display: inline;
            list-style: none;
            margin: 0;
            padding: 0;

        }
        a,
        a:visited {
            // Common link styling
            display: inline-block;
            margin: 0 .1em;
            padding: .5em $normal .1em $normal;
            font-family: $h_font;
            font-size: $normal;
            font-weight: bold;
            white-space: nowrap;
            text-decoration: underline;
            background: lighten($c1, 10%);
            color: $c2;
            border-top: .3em solid;
            &:hover,
                &:focus,
                &:active {
                text-decoration: none;
                background: lighten($c1, 20%);
                color: $hilight;
            }
        }
        //////
        /// Secondary Navigation
        //////
        li {
            ul {
                left: -9999px;
                position: absolute;
                @include overlay($c2);
            }
            @if ($showDropdowns) == true {
                // First nested menu
                &:hover > ul {
                    left: 0;
                    animation-duration: .5s;
                    animation-name: slideDown;
                }
                li {
                    padding: .1em 0 0 0;
                    a {
                        display: block;
                    }
                    & > ul {
                        border: $border;
                        font-size: .9em;
                        margin: 0;
                        padding: .5em .3em;
                        z-index: 99;
                    }
                    &:hover > ul {
                        // Second nested menu
                        li ul {
                            font-size: .9em;
                            border: $border;
                            left: 0;
                            margin: 0;
                            z-index: 100;
                        }
                        li > ul li:hover > ul {
                            left: 1em;
                        }
                    }
                }
            }
        }
    }
    //////
    // Breadcrumb navigation
    //////
    #breadcrumb {
        display: inline;
        display: inline-block;
        height: 2em;
        li: {
            list-style: none;
            line-height: 2em;
            margin: 0 0 0 .2em;
            width: 100%;
        }
        .home {
            background: url(../assets/images/icon-home.png);
            color: $c1;
            padding: 0 0 0 34px;
        }
        a {
            &:visited {
                color: darken($hilight, 20%);
            }
            &:hover,
                &:focus,
                &:active {
                color: $hilight;
            }
        }
    }
}

@media screen and (max-width: $res_mobile) {
    // Make links larger / easier to click for mobile

    #nav {
        display: block;
        float: none;

        li: {
            margin: 0;
            padding: 0;
        }
        a,
        a:visited {
            padding: 1em;
            &:hover,
                &:focus,
                &:active {
            }
        }
    }
    //////
}

@media screen and (min-width: $res_large) {
    #nav {
        li {
        }
        //////
    }
}