/* ****
Cellular :: SVG icons
**** */
@import "variables";
/////
.icon {
    &.search {
        background-image: url('../assets/icons/svg/min/search.svg');
    }

    &.android {
        background-image: url('../assets/icons/svg/min/android.svg');
    }


    &.angular {
        background-image: url('../assets/icons/svg/min/angular.svg');
    }


    &.apple {
        background-image: url('../assets/icons/svg/min/apple.svg');
    }


    &.arrow-down {
        background-image: url('../assets/icons/svg/min/arrow-down.svg');
    }


    &.arrow-left {
        background-image: url('../assets/icons/svg/min/arrow-left.svg');
    }


    &.arrow-light-up {
        background-image: url('../assets/icons/svg/min/arrow-light-up.svg');
    }


    &.arrow-right {
        background-image: url('../assets/icons/svg/min/arrow-right.svg');
    }


    &.arrow-up {
        background-image: url('../assets/icons/svg/min/arrow-up.svg');
    }


    &.arrow-w-down {
        background-image: url('../assets/icons/svg/min/arrow-w-down.svg');
    }


    &.arrow-w-left {
        background-image: url('../assets/icons/svg/min/arrow-w-left.svg');
    }


    &.arrow-w-right {
        background-image: url('../assets/icons/svg/min/arrow-w-right.svg');
    }


    &.arrow-w-up {
        background-image: url('../assets/icons/svg/min/arrow-w-up.svg');
    }


    &.audio {
        background-image: url('../assets/icons/svg/min/audio.svg');
    }


    &.camera {
        background-image: url('../assets/icons/svg/min/camera.svg');
    }


    &.cart {
        background-image: url('../assets/icons/svg/min/cart.svg');
    }


    &.cell-phone {
        background-image: url('../assets/icons/svg/min/cell-phone.svg');
    }


    &.cell {
        background-image: url('../assets/icons/svg/min/cell.svg');
    }


    &.chat {
        background-image: url('../assets/icons/svg/min/chat.svg');
    }


    &.chrome {
        background-image: url('../assets/icons/svg/min/chrome.svg');
    }


    &.cloud {
        background-image: url('../assets/icons/svg/min/cloud.svg');
    }


    &.creativecommons {
        background-image: url('../assets/icons/svg/min/creativecommons.svg');
    }


    &.css3 {
        background-image: url('../assets/icons/svg/min/css3.svg');
    }


    &.delicious {
        background-image: url('../assets/icons/svg/min/delicious.svg');
    }


    &.desktop {
        background-image: url('../assets/icons/svg/min/desktop.svg');
    }


    &.digg {
        background-image: url('../assets/icons/svg/min/digg.svg');
    }


    &.doc {
        background-image: url('../assets/icons/svg/min/doc.svg');
    }


    &.drupal {
        background-image: url('../assets/icons/svg/min/drupal.svg');
    }


    &.email {
        background-image: url('../assets/icons/svg/min/email.svg');
    }


    &.eye {
        background-image: url('../assets/icons/svg/min/eye.svg');
    }


    &.facebook {
        background-image: url('../assets/icons/svg/min/facebook.svg');
    }


    &.film {
        background-image: url('../assets/icons/svg/min/film.svg');
    }


    &.firefox {
        background-image: url('../assets/icons/svg/min/firefox.svg');
    }


    &.flickr {
        background-image: url('../assets/icons/svg/min/flickr.svg');
    }


    &.folder {
        background-image: url('../assets/icons/svg/min/folder.svg');
    }


    &.gear {
        background-image: url('../assets/icons/svg/min/gear.svg');
    }


    &.github-octo {
        background-image: url('../assets/icons/svg/min/github-octo.svg');
    }


    &.globe {
        background-image: url('../assets/icons/svg/min/globe.svg');
    }


    &.google {
        background-image: url('../assets/icons/svg/min/google.svg');
    }


    &.hi5 {
        background-image: url('../assets/icons/svg/min/hi5.svg');
    }


    &.home {
        background-image: url('../assets/icons/svg/min/home.svg');
    }


    &.html5 {
        background-image: url('../assets/icons/svg/min/html5.svg');
    }


    &.internetexplorer {
        background-image: url('../assets/icons/svg/min/internetexplorer.svg');
    }


    &.jquery {
        background-image: url('../assets/icons/svg/min/jquery.svg');
    }


    &.js {
        background-image: url('../assets/icons/svg/min/js.svg');
    }


    &.key {
        background-image: url('../assets/icons/svg/min/key.svg');
    }


    &.laptop {
        background-image: url('../assets/icons/svg/min/laptop.svg');
    }


    &.linkedin {
        background-image: url('../assets/icons/svg/min/linkedin.svg');
    }


    &.linux {
        background-image: url('../assets/icons/svg/min/linux.svg');
    }


    &.lock {
        background-image: url('../assets/icons/svg/min/lock.svg');
    }


    &.logo {
        background-image: url('../assets/icons/svg/min/logo.svg');
    }


    &.mac {
        background-image: url('../assets/icons/svg/min/mac.svg');
    }


    &.magnify {
        background-image: url('../assets/icons/svg/min/magnify.svg');
    }


    &.mail {
        background-image: url('../assets/icons/svg/min/mail.svg');
    }


    &.mail2 {
        background-image: url('../assets/icons/svg/min/mail2.svg');
    }

    &.jMmenu,
    &.menu {
        background-image: url('../assets/icons/svg/min/menu.svg');
    }


    &.message-error {
        background-image: url('../assets/icons/svg/min/message-error.svg');
    }


    &.message-ok {
        background-image: url('../assets/icons/svg/min/message-ok.svg');
    }


    &.message-warning {
        background-image: url('../assets/icons/svg/min/message-warning.svg');
    }


    &.message_icon_error {
        background-image: url('../assets/icons/svg/min/message_icon_error.svg');
    }


    &.message_icon_ok {
        background-image: url('../assets/icons/svg/min/message_icon_ok.svg');
    }


    &.message_icon_warning {
        background-image: url('../assets/icons/svg/min/message_icon_warning.svg');
    }


    &.mobile {
        background-image: url('../assets/icons/svg/min/mobile.svg');
    }


    &.myspace {
        background-image: url('../assets/icons/svg/min/myspace.svg');
    }


    &.opera {
        background-image: url('../assets/icons/svg/min/opera.svg');
    }


    &.pdf {
        background-image: url('../assets/icons/svg/min/pdf.svg');
    }


    &.phone {
        background-image: url('../assets/icons/svg/min/phone.svg');
    }


    &.phone2 {
        background-image: url('../assets/icons/svg/min/phone2.svg');
    }


    &.picture {
        background-image: url('../assets/icons/svg/min/picture.svg');
    }


    &.pinterest {
        background-image: url('../assets/icons/svg/min/pinterest.svg');
    }


    &.print {
        background-image: url('../assets/icons/svg/min/print.svg');
    }


    &.reddit {
        background-image: url('../assets/icons/svg/min/reddit.svg');
    }


    &.rss {
        background-image: url('../assets/icons/svg/min/rss.svg');
    }


    &.safari {
        background-image: url('../assets/icons/svg/min/safari.svg');
    }


    &.spreadsheet {
        background-image: url('../assets/icons/svg/min/spreadsheet.svg');
    }


    &.stackoverflow {
        background-image: url('../assets/icons/svg/min/stackoverflow.svg');
    }


    &.stumbleupon {
        background-image: url('../assets/icons/svg/min/stumbleupon.svg');
    }


    &.technorati {
        background-image: url('../assets/icons/svg/min/technorati.svg');
    }


    &.tumblr {
        background-image: url('../assets/icons/svg/min/tumblr.svg');
    }


    &.twitter-bird {
        background-image: url('../assets/icons/svg/min/twitter-bird.svg');
    }


    &.twitter-t {
        background-image: url('../assets/icons/svg/min/twitter-t.svg');
    }


    &.user-social {
        background-image: url('../assets/icons/svg/min/user-social.svg');
    }


    &.user {
        background-image: url('../assets/icons/svg/min/user.svg');
    }


    &.video {
        background-image: url('../assets/icons/svg/min/video.svg');
    }


    &.w3 {
        background-image: url('../assets/icons/svg/min/w3.svg');
    }


    &.windows {
        background-image: url('../assets/icons/svg/min/windows.svg');
    }


    &.wordpress {
        background-image: url('../assets/icons/svg/min/wordpress.svg');
    }


    &.wrench {
        background-image: url('../assets/icons/svg/min/wrench.svg');
    }


    &.youtube {
        background-image: url('../assets/icons/svg/min/youtube.svg');
    }


    &.zip {
        background-image: url('../assets/icons/svg/min/zip.svg');
    }
}