/* ****
Cellular :: typography
**** */
/////

@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    src: local('Quicksand Regular'), local('Quicksand-Regular'), url('//themes.googleusercontent.com/static/fonts/quicksand/v2/sKd0EMYPAh5PYCRKSryvWz8E0i7KZn-EPnyo3HZu7kw.woff') format('woff');
}

@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    src: local('Quicksand Bold'), local('Quicksand-Bold'), url('//themes.googleusercontent.com/static/fonts/quicksand/v2/32nyIRHyCu6iqEka_hbKsnhCUOGz7vYGh680lGh-uXM.woff') format('woff');
}

body {
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-size: 100%;
    font-family: $p_font;
    line-height: $p_line_height;
    color: $p_color;
}

p {
    display: block;
    max-width: $p_max_width;
    margin: 0 auto;
    padding: 0 $normal ($p_line_height * 0.5) $normal;
    color: $p_color;
}

small {
    font-size: $small;
}

//////
// Links
//////
a {
    color: $hilight;
    text-decoration: none;
    outline: none;
    display: inline-block;
    @include transition();
    &:visited {
        color: darken($hilight, $adjust);
    }
    &:hover,
        &:active,
        &:focus {
        outline: thin dotted;
        outline: .4em -webkit-focus-ring-color;
        outline-offset: -.1em;
        text-decoration: underline;
        color: lighten($hilight, $adjust);
    }
    &:hover {
        outline: 0;
    }
}

/////
// Headings
/////
h1,
h2,
h3,
h4,
h5,
h6 {
    display: block;
    clear: both;
    font-family: $h_font;
    font-weight: $h_weight;
    line-height: 1.1em;
    margin: 1em auto .2em auto;
    padding: 0 0 0 1em;
}

h1 {
    margin: 0;
    padding: $normal $big $big;
    font-size: $h_size;
    text-align: left;
    color: $c1;
    border: none;
}

h2 {
    font-size: $h_size * .8;
    color: $h_color;
}

h3 {
    font-size: $h_size * .7;
    color: darken($h_color, $adjust);
}

h4 {
    font-size: $h_size * .6;
    color: darken($h_color, $adjust * 2);
}

h5 {
    font-size: $h_size * .5;
    color: darken($h_color, $adjust * 3);
}

h6 {
    font-size: $h_size * .4;
    color: darken($h_color, $adjust * 4);
}

/////
// Etc.
/////

sub,
sup {
    position: relative;
    font-size: .75em;
    line-height: 0;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

// Quotes
q, quote {
    font-size: $big;
    font-style: italic;
    color: $dark_grey;
}

blockquote {
    display: block;
    font-size: $big;
    margin: $tiny $big;
    padding: $normal;
    font-style: italic;
    background-color: darken($c2, 10%);
    color: $dark_grey;
    border-left: $tiny solid;
    &:before {
        content: "\201C";
    }
    &:after {
        content: "\201D";
    }
}

caption {
    text-align: left;
}

code,
pre {
    display: block;
    margin: 1em auto;
    padding: 1em;
    font-family: "Courier New", Courier, monospace;
    overflow: auto;
    white-space: pre;
    white-space: pre-wrap;
    white-space: pre-line;
    word-wrap: break-word;
}

abbr,
acronym {
    border: 0;
    font-variant: small-caps;
    font-weight: bold;
}