/*****
    Cellular :: media
*****/
//////

img, object {
    display: inline;
    display: inline-block;
    margin: 0 auto;
    padding: 0;
    max-width: 100%;
    height: auto;
}


a img {
    border: none;
    outline: none;
}

// wrap iframes for positioning
.iframe-wrap {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

/////
/// Colorbox
///// 
a.colorbox {
    display: inline;
    display: inline-block;
    margin: 1em;
    @include overlay($c1);
    @include box-shadow(0 0 .2em .2em $light_grey);
}

a:hover.colorbox,
a:focus.colorbox {
    @include box-shadow(0 0 .3em .3em $light_grey);
}