/* ****
Cellular :: SVG icons
**** */
/* line 7, ../sass/icons-svg.scss */
.icon.search {
  background-image: url("../assets/icons/svg/search.svg");
}
/* line 11, ../sass/icons-svg.scss */
.icon.android {
  background-image: url("../assets/icons/svg/android.svg");
}
/* line 16, ../sass/icons-svg.scss */
.icon.angular {
  background-image: url("../assets/icons/svg/angular.svg");
}
/* line 21, ../sass/icons-svg.scss */
.icon.apple {
  background-image: url("../assets/icons/svg/apple.svg");
}
/* line 26, ../sass/icons-svg.scss */
.icon.arrow-down {
  background-image: url("../assets/icons/svg/arrow-down.svg");
}
/* line 31, ../sass/icons-svg.scss */
.icon.arrow-left {
  background-image: url("../assets/icons/svg/arrow-left.svg");
}
/* line 36, ../sass/icons-svg.scss */
.icon.arrow-light-up {
  background-image: url("../assets/icons/svg/arrow-light-up.svg");
}
/* line 41, ../sass/icons-svg.scss */
.icon.arrow-right {
  background-image: url("../assets/icons/svg/arrow-right.svg");
}
/* line 46, ../sass/icons-svg.scss */
.icon.arrow-up {
  background-image: url("../assets/icons/svg/arrow-up.svg");
}
/* line 51, ../sass/icons-svg.scss */
.icon.arrow-w-down {
  background-image: url("../assets/icons/svg/arrow-w-down.svg");
}
/* line 56, ../sass/icons-svg.scss */
.icon.arrow-w-left {
  background-image: url("../assets/icons/svg/arrow-w-left.svg");
}
/* line 61, ../sass/icons-svg.scss */
.icon.arrow-w-right {
  background-image: url("../assets/icons/svg/arrow-w-right.svg");
}
/* line 66, ../sass/icons-svg.scss */
.icon.arrow-w-up {
  background-image: url("../assets/icons/svg/arrow-w-up.svg");
}
/* line 71, ../sass/icons-svg.scss */
.icon.audio {
  background-image: url("../assets/icons/svg/audio.svg");
}
/* line 76, ../sass/icons-svg.scss */
.icon.camera {
  background-image: url("../assets/icons/svg/camera.svg");
}
/* line 81, ../sass/icons-svg.scss */
.icon.cart {
  background-image: url("../assets/icons/svg/cart.svg");
}
/* line 86, ../sass/icons-svg.scss */
.icon.cell-phone {
  background-image: url("../assets/icons/svg/cell-phone.svg");
}
/* line 91, ../sass/icons-svg.scss */
.icon.cell {
  background-image: url("../assets/icons/svg/cell.svg");
}
/* line 96, ../sass/icons-svg.scss */
.icon.chat {
  background-image: url("../assets/icons/svg/chat.svg");
}
/* line 101, ../sass/icons-svg.scss */
.icon.chrome {
  background-image: url("../assets/icons/svg/chrome.svg");
}
/* line 106, ../sass/icons-svg.scss */
.icon.cloud {
  background-image: url("../assets/icons/svg/cloud.svg");
}
/* line 111, ../sass/icons-svg.scss */
.icon.creativecommons {
  background-image: url("../assets/icons/svg/creativecommons.svg");
}
/* line 116, ../sass/icons-svg.scss */
.icon.css3 {
  background-image: url("../assets/icons/svg/css3.svg");
}
/* line 121, ../sass/icons-svg.scss */
.icon.delicious {
  background-image: url("../assets/icons/svg/delicious.svg");
}
/* line 126, ../sass/icons-svg.scss */
.icon.desktop {
  background-image: url("../assets/icons/svg/desktop.svg");
}
/* line 131, ../sass/icons-svg.scss */
.icon.digg {
  background-image: url("../assets/icons/svg/digg.svg");
}
/* line 136, ../sass/icons-svg.scss */
.icon.doc {
  background-image: url("../assets/icons/svg/doc.svg");
}
/* line 141, ../sass/icons-svg.scss */
.icon.drupal {
  background-image: url("../assets/icons/svg/drupal.svg");
}
/* line 146, ../sass/icons-svg.scss */
.icon.email {
  background-image: url("../assets/icons/svg/email.svg");
}
/* line 151, ../sass/icons-svg.scss */
.icon.eye {
  background-image: url("../assets/icons/svg/eye.svg");
}
/* line 156, ../sass/icons-svg.scss */
.icon.facebook {
  background-image: url("../assets/icons/svg/facebook.svg");
}
/* line 161, ../sass/icons-svg.scss */
.icon.film {
  background-image: url("../assets/icons/svg/film.svg");
}
/* line 166, ../sass/icons-svg.scss */
.icon.firefox {
  background-image: url("../assets/icons/svg/firefox.svg");
}
/* line 171, ../sass/icons-svg.scss */
.icon.flickr {
  background-image: url("../assets/icons/svg/flickr.svg");
}
/* line 176, ../sass/icons-svg.scss */
.icon.folder {
  background-image: url("../assets/icons/svg/folder.svg");
}
/* line 181, ../sass/icons-svg.scss */
.icon.gear {
  background-image: url("../assets/icons/svg/gear.svg");
}
/* line 186, ../sass/icons-svg.scss */
.icon.github-octo {
  background-image: url("../assets/icons/svg/github-octo.svg");
}
/* line 191, ../sass/icons-svg.scss */
.icon.globe {
  background-image: url("../assets/icons/svg/globe.svg");
}
/* line 196, ../sass/icons-svg.scss */
.icon.google {
  background-image: url("../assets/icons/svg/google.svg");
}
/* line 201, ../sass/icons-svg.scss */
.icon.hi5 {
  background-image: url("../assets/icons/svg/hi5.svg");
}
/* line 206, ../sass/icons-svg.scss */
.icon.home {
  background-image: url("../assets/icons/svg/home.svg");
}
/* line 211, ../sass/icons-svg.scss */
.icon.html5 {
  background-image: url("../assets/icons/svg/html5.svg");
}
/* line 216, ../sass/icons-svg.scss */
.icon.internetexplorer {
  background-image: url("../assets/icons/svg/internetexplorer.svg");
}
/* line 221, ../sass/icons-svg.scss */
.icon.jquery {
  background-image: url("../assets/icons/svg/jquery.svg");
}
/* line 226, ../sass/icons-svg.scss */
.icon.js {
  background-image: url("../assets/icons/svg/js.svg");
}
/* line 231, ../sass/icons-svg.scss */
.icon.key {
  background-image: url("../assets/icons/svg/key.svg");
}
/* line 236, ../sass/icons-svg.scss */
.icon.laptop {
  background-image: url("../assets/icons/svg/laptop.svg");
}
/* line 241, ../sass/icons-svg.scss */
.icon.linkedin {
  background-image: url("../assets/icons/svg/linkedin.svg");
}
/* line 246, ../sass/icons-svg.scss */
.icon.linux {
  background-image: url("../assets/icons/svg/linux.svg");
}
/* line 251, ../sass/icons-svg.scss */
.icon.lock {
  background-image: url("../assets/icons/svg/lock.svg");
}
/* line 256, ../sass/icons-svg.scss */
.icon.logo {
  background-image: url("../assets/icons/svg/logo.svg");
}
/* line 261, ../sass/icons-svg.scss */
.icon.mac {
  background-image: url("../assets/icons/svg/mac.svg");
}
/* line 266, ../sass/icons-svg.scss */
.icon.magnify {
  background-image: url("../assets/icons/svg/magnify.svg");
}
/* line 271, ../sass/icons-svg.scss */
.icon.mail {
  background-image: url("../assets/icons/svg/mail.svg");
}
/* line 276, ../sass/icons-svg.scss */
.icon.mail2 {
  background-image: url("../assets/icons/svg/mail2.svg");
}
/* line 281, ../sass/icons-svg.scss */
.icon.jMmenu, .icon.menu {
  background-image: url("../assets/icons/svg/menu.svg");
}
/* line 286, ../sass/icons-svg.scss */
.icon.message-error {
  background-image: url("../assets/icons/svg/message-error.svg");
}
/* line 291, ../sass/icons-svg.scss */
.icon.message-ok {
  background-image: url("../assets/icons/svg/message-ok.svg");
}
/* line 296, ../sass/icons-svg.scss */
.icon.message-warning {
  background-image: url("../assets/icons/svg/message-warning.svg");
}
/* line 301, ../sass/icons-svg.scss */
.icon.message_icon_error {
  background-image: url("../assets/icons/svg/message_icon_error.svg");
}
/* line 306, ../sass/icons-svg.scss */
.icon.message_icon_ok {
  background-image: url("../assets/icons/svg/message_icon_ok.svg");
}
/* line 311, ../sass/icons-svg.scss */
.icon.message_icon_warning {
  background-image: url("../assets/icons/svg/message_icon_warning.svg");
}
/* line 316, ../sass/icons-svg.scss */
.icon.mobile {
  background-image: url("../assets/icons/svg/mobile.svg");
}
/* line 321, ../sass/icons-svg.scss */
.icon.myspace {
  background-image: url("../assets/icons/svg/myspace.svg");
}
/* line 326, ../sass/icons-svg.scss */
.icon.opera {
  background-image: url("../assets/icons/svg/opera.svg");
}
/* line 331, ../sass/icons-svg.scss */
.icon.pdf {
  background-image: url("../assets/icons/svg/pdf.svg");
}
/* line 336, ../sass/icons-svg.scss */
.icon.phone {
  background-image: url("../assets/icons/svg/phone.svg");
}
/* line 341, ../sass/icons-svg.scss */
.icon.phone2 {
  background-image: url("../assets/icons/svg/phone2.svg");
}
/* line 346, ../sass/icons-svg.scss */
.icon.picture {
  background-image: url("../assets/icons/svg/picture.svg");
}
/* line 351, ../sass/icons-svg.scss */
.icon.pinterest {
  background-image: url("../assets/icons/svg/pinterest.svg");
}
/* line 356, ../sass/icons-svg.scss */
.icon.print {
  background-image: url("../assets/icons/svg/print.svg");
}
/* line 361, ../sass/icons-svg.scss */
.icon.reddit {
  background-image: url("../assets/icons/svg/reddit.svg");
}
/* line 366, ../sass/icons-svg.scss */
.icon.rss {
  background-image: url("../assets/icons/svg/rss.svg");
}
/* line 371, ../sass/icons-svg.scss */
.icon.safari {
  background-image: url("../assets/icons/svg/safari.svg");
}
/* line 376, ../sass/icons-svg.scss */
.icon.spreadsheet {
  background-image: url("../assets/icons/svg/spreadsheet.svg");
}
/* line 381, ../sass/icons-svg.scss */
.icon.stackoverflow {
  background-image: url("../assets/icons/svg/stackoverflow.svg");
}
/* line 386, ../sass/icons-svg.scss */
.icon.stumbleupon {
  background-image: url("../assets/icons/svg/stumbleupon.svg");
}
/* line 391, ../sass/icons-svg.scss */
.icon.technorati {
  background-image: url("../assets/icons/svg/technorati.svg");
}
/* line 396, ../sass/icons-svg.scss */
.icon.tumblr {
  background-image: url("../assets/icons/svg/tumblr.svg");
}
/* line 401, ../sass/icons-svg.scss */
.icon.twitter-bird {
  background-image: url("../assets/icons/svg/twitter-bird.svg");
}
/* line 406, ../sass/icons-svg.scss */
.icon.twitter-t {
  background-image: url("../assets/icons/svg/twitter-t.svg");
}
/* line 411, ../sass/icons-svg.scss */
.icon.user-social {
  background-image: url("../assets/icons/svg/user-social.svg");
}
/* line 416, ../sass/icons-svg.scss */
.icon.user {
  background-image: url("../assets/icons/svg/user.svg");
}
/* line 421, ../sass/icons-svg.scss */
.icon.video {
  background-image: url("../assets/icons/svg/video.svg");
}
/* line 426, ../sass/icons-svg.scss */
.icon.w3 {
  background-image: url("../assets/icons/svg/w3.svg");
}
/* line 431, ../sass/icons-svg.scss */
.icon.windows {
  background-image: url("../assets/icons/svg/windows.svg");
}
/* line 436, ../sass/icons-svg.scss */
.icon.wordpress {
  background-image: url("../assets/icons/svg/wordpress.svg");
}
/* line 441, ../sass/icons-svg.scss */
.icon.wrench {
  background-image: url("../assets/icons/svg/wrench.svg");
}
/* line 446, ../sass/icons-svg.scss */
.icon.youtube {
  background-image: url("../assets/icons/svg/youtube.svg");
}
/* line 451, ../sass/icons-svg.scss */
.icon.zip {
  background-image: url("../assets/icons/svg/zip.svg");
}
