/* line 8, ../sass/icons-png.scss */
.icon {
    display: inline;
    display: inline-block;
    width: 32px;
    height: 32px;
    text-indent: -999em;
    padding: 10px;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    background-color: none;
}
/* line 18, ../sass/icons-png.scss */
.icon:hover {
    background-color: #29b4de;
}
/* line 22, ../sass/icons-png.scss */
.icon.search {
    background-image: url("../assets/icons/png/search.png");
    text-indent: 0;
}
/* line 27, ../sass/icons-png.scss */
.icon.android {
    background-image: url("../assets/icons/png/android.png");
}
/* line 32, ../sass/icons-png.scss */
.icon.angular {
    background-image: url("../assets/icons/png/angular.png");
}
/* line 37, ../sass/icons-png.scss */
.icon.apple {
    background-image: url("../assets/icons/png/apple.png");
}
/* line 42, ../sass/icons-png.scss */
.icon.arrow-down {
    background-image: url("../assets/icons/png/arrow-down.png");
}
/* line 47, ../sass/icons-png.scss */
.icon.arrow-left {
    background-image: url("../assets/icons/png/arrow-left.png");
}
/* line 52, ../sass/icons-png.scss */
.icon.arrow-light-up {
    background-image: url("../assets/icons/png/arrow-light-up.png");
}
/* line 57, ../sass/icons-png.scss */
.icon.arrow-right {
    background-image: url("../assets/icons/png/arrow-right.png");
}
/* line 62, ../sass/icons-png.scss */
.icon.arrow-up {
    background-image: url("../assets/icons/png/arrow-up.png");
}
/* line 67, ../sass/icons-png.scss */
.icon.arrow-w-down {
    background-image: url("../assets/icons/png/arrow-w-down.png");
}
/* line 72, ../sass/icons-png.scss */
.icon.arrow-w-left {
    background-image: url("../assets/icons/png/arrow-w-left.png");
}
/* line 77, ../sass/icons-png.scss */
.icon.arrow-w-right {
    background-image: url("../assets/icons/png/arrow-w-right.png");
}
/* line 82, ../sass/icons-png.scss */
.icon.arrow-w-up {
    background-image: url("../assets/icons/png/arrow-w-up.png");
}
/* line 87, ../sass/icons-png.scss */
.icon.audio {
    background-image: url("../assets/icons/png/audio.png");
}
/* line 92, ../sass/icons-png.scss */
.icon.camera {
    background-image: url("../assets/icons/png/camera.png");
}
/* line 97, ../sass/icons-png.scss */
.icon.cart {
    background-image: url("../assets/icons/png/cart.png");
}
/* line 102, ../sass/icons-png.scss */
.icon.cell-phone {
    background-image: url("../assets/icons/png/cell-phone.png");
}
/* line 107, ../sass/icons-png.scss */
.icon.cell {
    background-image: url("../assets/icons/png/cell.png");
}
/* line 112, ../sass/icons-png.scss */
.icon.chat {
    background-image: url("../assets/icons/png/chat.png");
}
/* line 117, ../sass/icons-png.scss */
.icon.chrome {
    background-image: url("../assets/icons/png/chrome.png");
}
/* line 122, ../sass/icons-png.scss */
.icon.cloud {
    background-image: url("../assets/icons/png/cloud.png");
}
/* line 127, ../sass/icons-png.scss */
.icon.creativecommons {
    background-image: url("../assets/icons/png/creativecommons.png");
}
/* line 132, ../sass/icons-png.scss */
.icon.css3 {
    background-image: url("../assets/icons/png/css3.png");
}
/* line 137, ../sass/icons-png.scss */
.icon.delicious {
    background-image: url("../assets/icons/png/delicious.png");
}
/* line 142, ../sass/icons-png.scss */
.icon.desktop {
    background-image: url("../assets/icons/png/desktop.png");
}
/* line 147, ../sass/icons-png.scss */
.icon.digg {
    background-image: url("../assets/icons/png/digg.png");
}
/* line 152, ../sass/icons-png.scss */
.icon.doc {
    background-image: url("../assets/icons/png/doc.png");
}
/* line 157, ../sass/icons-png.scss */
.icon.drupal {
    background-image: url("../assets/icons/png/drupal.png");
}
/* line 162, ../sass/icons-png.scss */
.icon.email {
    background-image: url("../assets/icons/png/email.png");
}
/* line 167, ../sass/icons-png.scss */
.icon.eye {
    background-image: url("../assets/icons/png/eye.png");
}
/* line 172, ../sass/icons-png.scss */
.icon.facebook {
    background-image: url("../assets/icons/png/facebook.png");
}
/* line 177, ../sass/icons-png.scss */
.icon.film {
    background-image: url("../assets/icons/png/film.png");
}
/* line 182, ../sass/icons-png.scss */
.icon.firefox {
    background-image: url("../assets/icons/png/firefox.png");
}
/* line 187, ../sass/icons-png.scss */
.icon.flickr {
    background-image: url("../assets/icons/png/flickr.png");
}
/* line 192, ../sass/icons-png.scss */
.icon.folder {
    background-image: url("../assets/icons/png/folder.png");
}
/* line 197, ../sass/icons-png.scss */
.icon.gear {
    background-image: url("../assets/icons/png/gear.png");
}
/* line 202, ../sass/icons-png.scss */
.icon.github-octo {
    background-image: url("../assets/icons/png/github-octo.png");
}
/* line 207, ../sass/icons-png.scss */
.icon.globe {
    background-image: url("../assets/icons/png/globe.png");
}
/* line 212, ../sass/icons-png.scss */
.icon.google {
    background-image: url("../assets/icons/png/google.png");
}
/* line 217, ../sass/icons-png.scss */
.icon.hi5 {
    background-image: url("../assets/icons/png/hi5.png");
}
/* line 222, ../sass/icons-png.scss */
.icon.home {
    background-image: url("../assets/icons/png/home.png");
}
/* line 227, ../sass/icons-png.scss */
.icon.html5 {
    background-image: url("../assets/icons/png/html5.png");
}
/* line 232, ../sass/icons-png.scss */
.icon.internetexplorer {
    background-image: url("../assets/icons/png/internetexplorer.png");
}
/* line 237, ../sass/icons-png.scss */
.icon.jquery {
    background-image: url("../assets/icons/png/jquery.png");
}
/* line 242, ../sass/icons-png.scss */
.icon.js {
    background-image: url("../assets/icons/png/js.png");
}
/* line 247, ../sass/icons-png.scss */
.icon.key {
    background-image: url("../assets/icons/png/key.png");
}
/* line 252, ../sass/icons-png.scss */
.icon.laptop {
    background-image: url("../assets/icons/png/laptop.png");
}
/* line 257, ../sass/icons-png.scss */
.icon.linkedin {
    background-image: url("../assets/icons/png/linkedin.png");
}
/* line 262, ../sass/icons-png.scss */
.icon.linux {
    background-image: url("../assets/icons/png/linux.png");
}
/* line 267, ../sass/icons-png.scss */
.icon.lock {
    background-image: url("../assets/icons/png/lock.png");
}
/* line 272, ../sass/icons-png.scss */
.icon.logo {
    background-image: url("../assets/icons/png/logo.png");
}
/* line 277, ../sass/icons-png.scss */
.icon.mac {
    background-image: url("../assets/icons/png/mac.png");
}
/* line 282, ../sass/icons-png.scss */
.icon.magnify {
    background-image: url("../assets/icons/png/magnify.png");
}
/* line 287, ../sass/icons-png.scss */
.icon.mail {
    background-image: url("../assets/icons/png/mail.png");
}
/* line 292, ../sass/icons-png.scss */
.icon.mail2 {
    background-image: url("../assets/icons/png/mail2.png");
}
/* line 297, ../sass/icons-png.scss */
.icon.jMmenu, .icon.menu {
    background-image: url("../assets/icons/png/menu.png");
}
/* line 302, ../sass/icons-png.scss */
.icon.message-error {
    background-image: url("../assets/icons/png/message-error.png");
}
/* line 307, ../sass/icons-png.scss */
.icon.message-ok {
    background-image: url("../assets/icons/png/message-ok.png");
}
/* line 312, ../sass/icons-png.scss */
.icon.message-warning {
    background-image: url("../assets/icons/png/message-warning.png");
}
/* line 317, ../sass/icons-png.scss */
.icon.message_icon_error {
    background-image: url("../assets/icons/png/message_icon_error.png");
}
/* line 322, ../sass/icons-png.scss */
.icon.message_icon_ok {
    background-image: url("../assets/icons/png/message_icon_ok.png");
}
/* line 327, ../sass/icons-png.scss */
.icon.message_icon_warning {
    background-image: url("../assets/icons/png/message_icon_warning.png");
}
/* line 332, ../sass/icons-png.scss */
.icon.mobile {
    background-image: url("../assets/icons/png/mobile.png");
}
/* line 337, ../sass/icons-png.scss */
.icon.myspace {
    background-image: url("../assets/icons/png/myspace.png");
}
/* line 342, ../sass/icons-png.scss */
.icon.opera {
    background-image: url("../assets/icons/png/opera.png");
}
/* line 347, ../sass/icons-png.scss */
.icon.pdf {
    background-image: url("../assets/icons/png/pdf.png");
}
/* line 352, ../sass/icons-png.scss */
.icon.phone {
    background-image: url("../assets/icons/png/phone.png");
}
/* line 357, ../sass/icons-png.scss */
.icon.phone2 {
    background-image: url("../assets/icons/png/phone2.png");
}
/* line 362, ../sass/icons-png.scss */
.icon.picture {
    background-image: url("../assets/icons/png/picture.png");
}
/* line 367, ../sass/icons-png.scss */
.icon.pinterest {
    background-image: url("../assets/icons/png/pinterest.png");
}
/* line 372, ../sass/icons-png.scss */
.icon.print {
    background-image: url("../assets/icons/png/print.png");
}
/* line 377, ../sass/icons-png.scss */
.icon.reddit {
    background-image: url("../assets/icons/png/reddit.png");
}
/* line 382, ../sass/icons-png.scss */
.icon.rss {
    background-image: url("../assets/icons/png/rss.png");
}
/* line 387, ../sass/icons-png.scss */
.icon.safari {
    background-image: url("../assets/icons/png/safari.png");
}
/* line 392, ../sass/icons-png.scss */
.icon.spreadsheet {
    background-image: url("../assets/icons/png/spreadsheet.png");
}
/* line 397, ../sass/icons-png.scss */
.icon.stackoverflow {
    background-image: url("../assets/icons/png/stackoverflow.png");
}
/* line 402, ../sass/icons-png.scss */
.icon.stumbleupon {
    background-image: url("../assets/icons/png/stumbleupon.png");
}
/* line 407, ../sass/icons-png.scss */
.icon.technorati {
    background-image: url("../assets/icons/png/technorati.png");
}
/* line 412, ../sass/icons-png.scss */
.icon.tumblr {
    background-image: url("../assets/icons/png/tumblr.png");
}
/* line 417, ../sass/icons-png.scss */
.icon.twitter-bird {
    background-image: url("../assets/icons/png/twitter-bird.png");
}
/* line 422, ../sass/icons-png.scss */
.icon.twitter-t {
    background-image: url("../assets/icons/png/twitter-t.png");
}
/* line 427, ../sass/icons-png.scss */
.icon.user-social {
    background-image: url("../assets/icons/png/user-social.png");
}
/* line 432, ../sass/icons-png.scss */
.icon.user {
    background-image: url("../assets/icons/png/user.png");
}
/* line 437, ../sass/icons-png.scss */
.icon.video {
    background-image: url("../assets/icons/png/video.png");
}
/* line 442, ../sass/icons-png.scss */
.icon.w3 {
    background-image: url("../assets/icons/png/w3.png");
}
/* line 447, ../sass/icons-png.scss */
.icon.windows {
    background-image: url("../assets/icons/png/windows.png");
}
/* line 452, ../sass/icons-png.scss */
.icon.wordpress {
    background-image: url("../assets/icons/png/wordpress.png");
}
/* line 457, ../sass/icons-png.scss */
.icon.wrench {
    background-image: url("../assets/icons/png/wrench.png");
}
/* line 462, ../sass/icons-png.scss */
.icon.youtube {
    background-image: url("../assets/icons/png/youtube.png");
}
/* line 467, ../sass/icons-png.scss */
.icon.zip {
    background-image: url("../assets/icons/png/zip.png");
}
