/*****
Cellular :: Responsive sCSS framework

(c) 2012 Adam Blankenship
www.abctahoe.net
*****/
/* ****
Cellular :: CSS RESET
**** */
/* line 5, ../sass/base/_base-reset.scss */
html {
  background: transparent;
  overflow: scroll;
}

/* line 36, ../sass/base/_base-reset.scss */
body,
div,
p,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
blockquote,
th,
td,
dl,
dt,
dd,
ul,
ol,
li {
  position: relative;
  margin: 0;
  padding: 0;
}

/* line 43, ../sass/base/_base-reset.scss */
fieldset,
img {
  border: 0;
}

/* ****
Cellular :: typography
**** */
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: local("Quicksand Regular"), local("Quicksand-Regular"), url("//themes.googleusercontent.com/static/fonts/quicksand/v2/sKd0EMYPAh5PYCRKSryvWz8E0i7KZn-EPnyo3HZu7kw.woff") format("woff");
}

@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  src: local("Quicksand Bold"), local("Quicksand-Bold"), url("//themes.googleusercontent.com/static/fonts/quicksand/v2/32nyIRHyCu6iqEka_hbKsnhCUOGz7vYGh680lGh-uXM.woff") format("woff");
}

/* line 20, ../sass/base/_base-typography.scss */
body {
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size: 100%;
  font-family: 'SegoeUI, "Helvetica Neue", Helvetica, Arial, Roboto, sans-serif';
  line-height: 1.8em;
  color: #111111;
}

/* line 30, ../sass/base/_base-typography.scss */
p {
  display: block;
  max-width: 32em;
  margin: 0 auto;
  padding: 0 1em 0.9em 1em;
  color: #111111;
}

/* line 38, ../sass/base/_base-typography.scss */
small {
  font-size: 0.75em;
}

/* line 45, ../sass/base/_base-typography.scss */
a {
  color: #29b4de;
  text-decoration: none;
  outline: none;
  display: inline-block;
  -webkit-transition: all 400ms ease-out;
  -moz-transition: all 400ms ease-out;
  -o-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
}
/* line 51, ../sass/base/_base-typography.scss */
a:visited {
  color: #16708b;
}
/* line 56, ../sass/base/_base-typography.scss */
a:hover, a:active, a:focus {
  outline: thin dotted;
  outline: .4em -webkit-focus-ring-color;
  outline-offset: -.1em;
  text-decoration: underline;
  color: #81d3ec;
}
/* line 63, ../sass/base/_base-typography.scss */
a:hover {
  outline: 0;
}

/* line 76, ../sass/base/_base-typography.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Quicksand";
  font-weight: bold;
  line-height: 1.1em;
  margin: 1em auto .2em auto;
  padding: 0 0 0 1em;
}

/* line 84, ../sass/base/_base-typography.scss */
h1 {
  margin: 0;
  padding: 1em 1.4em 1.4em;
  font-size: 2.4em;
  text-align: left;
  color: #111111;
  border: none;
}

/* line 93, ../sass/base/_base-typography.scss */
h2 {
  font-size: 1.92em;
  color: #8a8882;
}

/* line 98, ../sass/base/_base-typography.scss */
h3 {
  font-size: 1.68em;
  color: #565450;
}

/* line 103, ../sass/base/_base-typography.scss */
h4 {
  font-size: 1.44em;
  color: #21211f;
}

/* line 108, ../sass/base/_base-typography.scss */
h5 {
  font-size: 1.2em;
  color: black;
}

/* line 113, ../sass/base/_base-typography.scss */
h6 {
  font-size: 0.96em;
  color: black;
}

/* line 123, ../sass/base/_base-typography.scss */
sub,
sup {
  position: relative;
  font-size: .75em;
  line-height: 0;
  vertical-align: baseline;
}

/* line 130, ../sass/base/_base-typography.scss */
sup {
  top: -0.5em;
}

/* line 134, ../sass/base/_base-typography.scss */
sub {
  bottom: -0.25em;
}

/* line 139, ../sass/base/_base-typography.scss */
q, quote {
  font-size: 1.4em;
  font-style: italic;
  color: #565450;
}

/* line 145, ../sass/base/_base-typography.scss */
blockquote {
  display: block;
  font-size: 1.4em;
  margin: 0.3em 1.4em;
  padding: 1em;
  font-style: italic;
  background-color: #e5e5e5;
  color: #565450;
  border-left: 0.3em solid;
}
/* line 154, ../sass/base/_base-typography.scss */
blockquote:before {
  content: "\201C";
}
/* line 157, ../sass/base/_base-typography.scss */
blockquote:after {
  content: "\201D";
}

/* line 162, ../sass/base/_base-typography.scss */
caption {
  text-align: left;
}

/* line 167, ../sass/base/_base-typography.scss */
code,
pre {
  font-family: "Courier New", Courier, monospace;
  margin: 1em auto;
  padding: 1em;
  overflow: auto;
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}

/* line 179, ../sass/base/_base-typography.scss */
abbr,
acronym {
  border: 0;
  font-variant: small-caps;
  font-weight: bold;
}

/* ****
Cellular :: lists & tables
**** */
/* line 6, ../sass/base/_base-listable.scss */
hr {
  margin: 1em 0;
  height: 1px;
  border: none;
  background-image: -webkit-linear-gradient(left, rgba(138, 136, 130, 0), rgba(138, 136, 130, 0.75), rgba(138, 136, 130, 0));
  background-image: -moz-linear-gradient(left, rgba(138, 136, 130, 0), rgba(138, 136, 130, 0.75), rgba(138, 136, 130, 0));
  background-image: -ms-linear-gradient(left, rgba(138, 136, 130, 0), rgba(138, 136, 130, 0.75), rgba(138, 136, 130, 0));
  background-image: -o-linear-gradient(left, rgba(138, 136, 130, 0), rgba(138, 136, 130, 0.75), rgba(138, 136, 130, 0));
  background-image: linear-gradient(left, rgba(138, 136, 130, 0), rgba(138, 136, 130, 0.75), rgba(138, 136, 130, 0));
}

/* line 22, ../sass/base/_base-listable.scss */
ol,
ul,
dl {
  margin: 0 0 1em 1.6em;
  padding: 0;
  list-style-position: inside;
  width: auto;
}

/* line 29, ../sass/base/_base-listable.scss */
ol {
  list-style-type: decimal;
}

/* line 33, ../sass/base/_base-listable.scss */
ul {
  list-style-type: disc;
}

/* line 37, ../sass/base/_base-listable.scss */
li {
  width: auto;
  margin: 0.3em auto 0.6em;
  max-width: 28.8em;
}

/* line 43, ../sass/base/_base-listable.scss */
dt {
  margin: 0.75em 0 0;
  font-weight: bold;
}

/* line 54, ../sass/base/_base-listable.scss */
table {
  margin: 0 auto;
  border-collapse: collapse;
  border-spacing: 0;
  border: #8a8882 thin solid;
}
/* line 59, ../sass/base/_base-listable.scss */
table img {
  display: inline;
  padding: 0;
}

/* line 66, ../sass/base/_base-listable.scss */
th,
thead {
  padding: 0.3em;
  font-family: "Quicksand";
  font-weight: bold;
  font-size: 1em;
  text-align: center;
  background: #e0e0de;
  color: #8a8882;
  border: #e0e0de thin solid;
}

/* line 77, ../sass/base/_base-listable.scss */
tr:nth-child(even) {
  background: #f1f1f1;
}

/* line 81, ../sass/base/_base-listable.scss */
tr:nth-child(odd) {
  background: #fefefe;
}

/* line 85, ../sass/base/_base-listable.scss */
td {
  padding: 0.3em;
  border: #bbbab7 thin solid;
}

/* line 90, ../sass/base/_base-listable.scss */
tfoot {
  font-style: italic;
  text-align: center;
}

/* ****
Cellular :: forms

**** */
/* line 12, ../sass/base/_base-forms.scss */
form {
  display: block;
  max-width: 32em;
  margin: 0 auto;
}
/* line 19, ../sass/base/_base-forms.scss */
form.horizontal {
  display: inline;
  max-width: none;
  padding: 0;
}
/* line 28, ../sass/base/_base-forms.scss */
form.horizontal label,
form.horizontal input[type=text],
form.horizontal input[type=email],
form.horizontal input[type=password],
form.horizontal input[type=submit] {
  position: relative;
  display: inline;
  clear: none;
  padding: 0.3em;
}
/* line 34, ../sass/base/_base-forms.scss */
form.horizontal input[type=submit] {
  width: 5em;
  margin: 0 0.3em 0 0.3em;
  float: none;
}
/* line 44, ../sass/base/_base-forms.scss */
form.vertical label,
form.vertical input[type=text],
form.vertical input[type=email],
form.vertical input[type=password] {
  float: left;
  clear: left;
}
/* line 48, ../sass/base/_base-forms.scss */
form.vertical input[type=submit] {
  float: right;
  clear: left;
  margin: 0.3em 0;
}

/* line 56, ../sass/base/_base-forms.scss */
fieldset {
  padding: 1em;
  margin: 0.3em;
  border: #bbbab7 thin solid;
}

/* line 62, ../sass/base/_base-forms.scss */
legend {
  font-family: "Quicksand";
  font-weight: bold;
  font-size: 1.4em;
  padding: 0 0.75em;
  color: #bbbab7;
}

/* line 70, ../sass/base/_base-forms.scss */
label {
  display: inline;
  font-family: "Quicksand";
  font-weight: bold;
  margin: 0;
  padding: 0;
}

/* line 80, ../sass/base/_base-forms.scss */
input,
select,
textarea {
  font: 1em/1.6em 'SegoeUI, "Helvetica Neue", Helvetica, Arial, Roboto, sans-serif';
  margin: 0 auto;
  padding: 0.75em;
  font-size: 100%;
  vertical-align: middle;
  color: #111111;
  background: #fefefe;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  -ms-border-radius: 0.3em;
  -o-border-radius: 0.3em;
  border-radius: 0.3em;
  -webkit-transition: all 400ms ease-out;
  -moz-transition: all 400ms ease-out;
  -o-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
}

/* line 95, ../sass/base/_base-forms.scss */
input[type=hidden] {
  display: none;
}
/* line 104, ../sass/base/_base-forms.scss */
input[type=text], input[type=number], input[type=tel], input[type=search], input[type=email], input[type=password] {
  display: block;
  margin: 0.3em auto 1em;
  width: 90%;
  border: #bbbab7 thin solid;
  color: #565450;
  background: #f6f6f6;
}
/* line 112, ../sass/base/_base-forms.scss */
input[type=text]:focus, input[type=number]:focus, input[type=tel]:focus, input[type=search]:focus, input[type=email]:focus, input[type=password]:focus {
  color: #111111;
  border-color: #111111;
  background: #fefefe;
}
/* line 108, ../sass/_mixins.scss */
input[type=checkbox]:not(:checked), input[type=checkbox]:checked, input[type=radio]:not(:checked), input[type=radio]:checked {
  position: absolute;
  left: -999em;
}
/* line 112, ../sass/_mixins.scss */
input[type=checkbox]:not(:checked) + label, input[type=checkbox]:checked + label, input[type=radio]:not(:checked) + label, input[type=radio]:checked + label {
  position: relative;
  cursor: pointer;
  margin: 0;
  padding: 0 0 0 2em;
  vertical-align: middle;
}
/* line 119, ../sass/_mixins.scss */
input[type=checkbox]:not(:checked) + label:before, input[type=checkbox]:checked + label:before, input[type=radio]:not(:checked) + label:before, input[type=radio]:checked + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 1.4em;
  height: 1.4em;
  vertical-align: middle;
  background: #fefefe;
  border: #bbbab7 thin solid;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  -ms-border-radius: 0.3em;
  -o-border-radius: 0.3em;
  border-radius: 0.3em;
  -webkit-box-shadow: inset 0 1px 2px #bbbab7;
  -moz-box-shadow: inset 0 1px 2px #bbbab7;
  box-shadow: inset 0 1px 2px #bbbab7;
}
/* line 135, ../sass/_mixins.scss */
input[type=checkbox]:not(:checked):checked + label:before, input[type=checkbox]:checked:checked + label:before, input[type=radio]:not(:checked):checked + label:before, input[type=radio]:checked:checked + label:before {
  border-color: #565450;
}
/* line 138, ../sass/_mixins.scss */
input[type=checkbox]:not(:checked):checked + label:after, input[type=checkbox]:checked:checked + label:after, input[type=radio]:not(:checked):checked + label:after, input[type=radio]:checked:checked + label:after {
  position: absolute;
  left: .1em;
  top: 0;
  font-size: 1.4em;
  color: #61d43f;
}
/* line 149, ../sass/_mixins.scss */
input[type=checkbox]:not(:checked):focus + label:before, input[type=checkbox]:checked:focus + label:before, input[type=radio]:not(:checked):focus + label:before, input[type=radio]:checked:focus + label:before {
  border: 1px dotted #00598e;
}
/* line 155, ../sass/_mixins.scss */
input[type=checkbox]:not(:checked):disabled + label, input[type=checkbox]:checked:disabled + label, input[type=radio]:not(:checked):disabled + label, input[type=radio]:checked:disabled + label {
  color: #bbbab7;
}
/* line 157, ../sass/_mixins.scss */
input[type=checkbox]:not(:checked):disabled + label:before, input[type=checkbox]:checked:disabled + label:before, input[type=radio]:not(:checked):disabled + label:before, input[type=radio]:checked:disabled + label:before {
  background: #bbbab7;
  color: #565450;
}
/* line 127, ../sass/base/_base-forms.scss */
input[type=checkbox]:not(:checked) + label:before, input[type=checkbox]:checked + label:before {
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  -ms-border-radius: 0.3em;
  -o-border-radius: 0.3em;
  border-radius: 0.3em;
}
/* line 133, ../sass/base/_base-forms.scss */
input[type=checkbox]:not(:checked):checked + label:after, input[type=checkbox]:checked:checked + label:after {
  font-size: 1.5em;
  content: '\2714';
}
/* line 146, ../sass/base/_base-forms.scss */
input[type=radio]:not(:checked) + label:before, input[type=radio]:checked + label:before {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
/* line 152, ../sass/base/_base-forms.scss */
input[type=radio]:not(:checked):checked + label:after, input[type=radio]:checked:checked + label:after {
  font-size: 1em;
  content: '\2B24';
  top: -0.14em;
  left: .3em;
}

/* line 164, ../sass/base/_base-forms.scss */
textarea {
  display: block;
  overflow: auto;
  vertical-align: top;
  width: 90%;
  border: #bbbab7 thin solid;
  color: #565450;
  background: #f9f9f9;
}
/* line 172, ../sass/base/_base-forms.scss */
textarea:focus {
  color: #111111;
  background: #fefefe;
}

/* line 178, ../sass/base/_base-forms.scss */
select {
  cursor: pointer;
  padding: 0.3em;
  border: #bbbab7 thin solid;
}

/* line 184, ../sass/base/_base-forms.scss */
optgroup {
  background: #f1f1f1;
}

/* line 193, ../sass/base/_base-forms.scss */
button,
input[type="button"],
input[type="submit"] {
  cursor: pointer;
  display: inline;
  display: inline-block;
  font-family: "Quicksand";
  font-weight: bold;
  line-height: auto;
  padding: 0.75em 1em;
  background-color: #29b4de;
  width: auto;
  color: #fefefe;
  border: #16708b 0.2em solid;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  -ms-border-radius: 0.3em;
  -o-border-radius: 0.3em;
  border-radius: 0.3em;
}
/* line 185, ../sass/_mixins.scss */
button:visited,
input[type="button"]:visited,
input[type="submit"]:visited {
  color: #fefefe;
}
/* line 190, ../sass/_mixins.scss */
button.active, button:active, button:hover,
input[type="button"].active,
input[type="button"]:active,
input[type="button"]:hover,
input[type="submit"].active,
input[type="submit"]:active,
input[type="submit"]:hover {
  background-color: #16708b;
  border-color: #29b4de;
  text-decoration: none;
}

/* line 201, ../sass/base/_base-forms.scss */
.required:after {
  content: ' *';
  font-weight: bold;
}

/* line 208, ../sass/base/_base-forms.scss */
.ok,
.warning,
.error {
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  -ms-border-radius: 0.3em;
  -o-border-radius: 0.3em;
  border-radius: 0.3em;
  font-weight: bold;
  border: .2em solid;
  background-color: #fefefe;
}
/* line 213, ../sass/base/_base-forms.scss */
.ok li,
.warning li,
.error li {
  list-style: none;
}

/* line 218, ../sass/base/_base-forms.scss */
.ok {
  color: #61d43f;
  border-color: #398d20;
}

/* line 223, ../sass/base/_base-forms.scss */
.warning {
  color: #eecc22;
  border-color: #9e860c;
}

/* line 228, ../sass/base/_base-forms.scss */
.error {
  color: #8c0d00;
  border-color: #260400;
}

/*****
    Cellular :: media
*****/
/* line 6, ../sass/base/_base-media.scss */
img, object {
  display: inline;
  display: inline-block;
  margin: 0 auto;
  padding: 0;
  max-width: 100%;
  height: auto;
}

/* line 16, ../sass/base/_base-media.scss */
a img {
  border: none;
  outline: none;
}

/* line 22, ../sass/base/_base-media.scss */
.iframe-wrap {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
}
/* line 28, ../sass/base/_base-media.scss */
.iframe-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 40, ../sass/base/_base-media.scss */
a.colorbox {
  display: inline;
  display: inline-block;
  margin: 1em;
  background-color: #111111;
  background-color: rgba(17, 17, 17, 0.8);
  color: black;
  -webkit-box-shadow: 0 0 0.2em 0.2em #bbbab7;
  -moz-box-shadow: 0 0 0.2em 0.2em #bbbab7;
  box-shadow: 0 0 0.2em 0.2em #bbbab7;
}
/* line 51, ../sass/_mixins.scss */
a.colorbox h2,
a.colorbox h3,
a.colorbox h4 {
  color: black;
}
/* line 54, ../sass/_mixins.scss */
a.colorbox p {
  color: black;
}

/* line 49, ../sass/base/_base-media.scss */
a:hover.colorbox,
a:focus.colorbox {
  -webkit-box-shadow: 0 0 0.3em 0.3em #bbbab7;
  -moz-box-shadow: 0 0 0.3em 0.3em #bbbab7;
  box-shadow: 0 0 0.3em 0.3em #bbbab7;
}

/* ****
Cellular: :: grid

**** */
/* line 24, ../sass/base/_base-grid.scss */
.cell,
.cell-100,
.cell-90,
.cell-80,
.cell-75,
.cell-70,
.cell-66,
.cell-60,
.cell-50,
.cell-40,
.cell-33,
.cell-30,
.cell-25,
.cell-20,
.cell-10 {
  position: relative;
  float: left;
  display: block;
  margin: 0;
  padding: 0;
  z-index: 1;
}

/* line 33, ../sass/base/_base-grid.scss */
.cell {
  width: 100%;
  margin: 0;
  padding: 0;
}

/* line 39, ../sass/base/_base-grid.scss */
.cell-100 {
  width: 100%;
}

/* line 43, ../sass/base/_base-grid.scss */
.cell-90 {
  width: 90%;
}

/* line 47, ../sass/base/_base-grid.scss */
.cell-80 {
  width: 80%;
}

/* line 51, ../sass/base/_base-grid.scss */
.cell-75 {
  width: 75%;
}

/* line 55, ../sass/base/_base-grid.scss */
.cell-70 {
  width: 70%;
}

/* line 59, ../sass/base/_base-grid.scss */
.cell-66 {
  width: 66.666%;
}

/* line 63, ../sass/base/_base-grid.scss */
.cell-60 {
  width: 60%;
}

/* line 67, ../sass/base/_base-grid.scss */
.cell-50 {
  width: 50%;
}

/* line 71, ../sass/base/_base-grid.scss */
.cell-40 {
  width: 40%;
}

/* line 75, ../sass/base/_base-grid.scss */
.cell-33 {
  width: 33.33333%;
}

/* line 79, ../sass/base/_base-grid.scss */
.cell-30 {
  width: 30%;
}

/* line 83, ../sass/base/_base-grid.scss */
.cell-25 {
  width: 25%;
}

/* line 87, ../sass/base/_base-grid.scss */
.cell-20 {
  width: 20%;
}

/* line 91, ../sass/base/_base-grid.scss */
.cell-10 {
  width: 10%;
}

/* line 109, ../sass/base/_base-grid.scss */
.cell.center,
.cell-100.center,
.cell-90.center,
.cell-80.center,
.cell-75.center,
.cell-70.center,
.cell-66.center,
.cell-60.center,
.cell-50.center,
.cell-40.center,
.cell-33.center,
.cell-30.center,
.cell-25.center,
.cell-20.center,
.cell-10.center {
  float: none;
  margin: 0 auto;
}

@media screen and (max-width: 650px) {
  /* line 129, ../sass/base/_base-grid.scss */
  .cell,
  .cell-100,
  .cell-90,
  .cell-80,
  .cell-75,
  .cell-70,
  .cell-66,
  .cell-60,
  .cell-50,
  .cell-40,
  .cell-33,
  .cell-30,
  .cell-25,
  .cell-20,
  .cell-10 {
    width: 100%;
    margin: 0;
  }
}
/* line 138, ../sass/base/_base-grid.scss */
.hidden {
  position: absolute;
  left: -9999px;
}

/* line 143, ../sass/base/_base-grid.scss */
.clearfix {
  zoom: 1;
}
/* line 33, ../sass/_mixins.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
/* line 37, ../sass/_mixins.scss */
.clearfix:after {
  clear: both;
}

/* line 147, ../sass/base/_base-grid.scss */
hr.clearfix {
  visibility: hidden;
  margin: 0;
  padding: 0;
}

/* line 154, ../sass/base/_base-grid.scss */
.left,
.right {
  display: block;
}

/* line 158, ../sass/base/_base-grid.scss */
.left {
  float: left;
}

/* line 162, ../sass/base/_base-grid.scss */
.right {
  float: right;
}

/* line 166, ../sass/base/_base-grid.scss */
.center {
  margin: 0 auto;
  display: table;
}

/* line 171, ../sass/base/_base-grid.scss */
.center div {
  display: table-cell;
}

/*****
 Cellular :: Classes
*****/
/* line 9, ../sass/style/_style-classes.scss */
.icon {
  display: inline;
  display: inline-block;
  width: 32px;
  height: 32px;
  text-indent: -999em;
  padding: 10px;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  background-color: none;
}
/* line 20, ../sass/style/_style-classes.scss */
.icon:hover {
  background-color: #29b4de;
}
/* line 27, ../sass/style/_style-classes.scss */
.icon.search {
  text-indent: 0;
}

/* line 35, ../sass/style/_style-classes.scss */
.gallery {
  text-align: center;
  background: #565450;
}
/* line 41, ../sass/style/_style-classes.scss */
.gallery div,
.gallery a,
.gallery img {
  display: inline;
  margin: 0 auto;
}

/* line 51, ../sass/style/_style-classes.scss */
.dropCap:first-letter {
  font-size: 1.3em;
  font-weight: bold;
}

/* line 56, ../sass/style/_style-classes.scss */
.textShadow {
  text-shadow: 1px 1px 3px #565450;
}

/* line 67, ../sass/style/_style-classes.scss */
.box-shadow {
  margin: 0 auto;
  padding: 3em 1.4em;
  background-color: #fefefe;
  -webkit-box-shadow: inset 0 0 0.3em 0 #bbbab7;
  -moz-box-shadow: inset 0 0 0.3em 0 #bbbab7;
  box-shadow: inset 0 0 0.3em 0 #bbbab7;
}
/* line 74, ../sass/style/_style-classes.scss */
.box-shadow:before, .box-shadow:after {
  position: absolute;
  width: 40%;
  height: 1em;
  content: ' ';
  left: 1.2em;
  bottom: .8em;
  background: transparent;
  -webkit-transform: skew(-5deg) rotate(-5deg);
  -moz-transform: skew(-5deg) rotate(-5deg);
  -ms-transform: skew(-5deg) rotate(-5deg);
  -o-transform: skew(-5deg) rotate(-5deg);
  transform: skew(-5deg) rotate(-5deg);
  -webkit-box-shadow: 0 6px 12px rgba(187, 186, 183, 0.3);
  -moz-box-shadow: 0 6px 12px rgba(187, 186, 183, 0.3);
  box-shadow: 0 6px 12px rgba(187, 186, 183, 0.3);
  z-index: -1;
}
/* line 94, ../sass/style/_style-classes.scss */
.box-shadow:after {
  left: auto;
  right: 12px;
  -webkit-transform: skew(5deg) rotate(5deg);
  -moz-transform: skew(5deg) rotate(5deg);
  -ms-transform: skew(5deg) rotate(5deg);
  -o-transform: skew(5deg) rotate(5deg);
  transform: skew(5deg) rotate(5deg);
}

/*
.ribbon {
    @include ribbon(1.2em, 1em, $c1);
    color: $c2;
}

.popout {
    @include popout(1.2em, 1em, $c1);
    color: $c2;
}
*/
/*****
    Cellular :: user interface
*****/
/* line 6, ../sass/style/_style-ui.scss */
.cellular {
  position: relative;
  display: block;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}
/* line 17, ../sass/style/_style-ui.scss */
.cellular li {
  max-width: 90%;
}
/* line 21, ../sass/style/_style-ui.scss */
.cellular .title {
  cursor: pointer;
  margin: 0;
  padding: 0.75em 1em;
  background: #111111;
  color: #fefefe;
  -webkit-transition: all 400ms ease-out;
  -moz-transition: all 400ms ease-out;
  -o-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
}
/* line 29, ../sass/style/_style-ui.scss */
.cellular .title:hover {
  background: #1c94b8;
}
/* line 33, ../sass/style/_style-ui.scss */
.cellular .title a,
.cellular .title a:visited {
  font-weight: bold;
  line-height: 1.4em;
  color: #fefefe;
  border: none;
  text-decoration: none;
}
/* line 42, ../sass/style/_style-ui.scss */
.cellular .title a:hover, .cellular .title a:active, .cellular .title a.active,
.cellular .title a:visited:hover,
.cellular .title a:visited:active,
.cellular .title a:visited.active {
  border: none;
  text-decoration: none;
}
/* line 49, ../sass/style/_style-ui.scss */
.cellular .panel {
  display: block;
  margin: 0;
  padding: 1em;
  background-color: #fefefe;
  color: #565450;
  border: .1em solid;
}
/* line 63, ../sass/style/_style-ui.scss */
.cellular .active .title {
  background: #29b4de;
}
/* line 73, ../sass/style/_style-ui.scss */
.cellular.jAccordion li {
  margin: 0 auto .1em;
}
/* line 77, ../sass/style/_style-ui.scss */
.cellular.jAccordion .title {
  padding-left: 32px;
  background-image: url(../assets/icons/svg/plus.svg);
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: 1% center;
}
/* line 88, ../sass/style/_style-ui.scss */
.cellular.jAccordion .active .title {
  background-image: url(../assets/icons/svg/minus.svg);
}
/* line 94, ../sass/style/_style-ui.scss */
.cellular.jBlocklink {
  display: inline-block;
  vertical-align: top;
  margin: 1em;
  color: #bbbab7;
  -webkit-transition: all 400ms ease-out;
  -moz-transition: all 400ms ease-out;
  -o-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
  -webkit-box-shadow: 0 0 0.1em 0.1em #bbbab7;
  -moz-box-shadow: 0 0 0.1em 0.1em #bbbab7;
  box-shadow: 0 0 0.1em 0.1em #bbbab7;
}
/* line 105, ../sass/style/_style-ui.scss */
.cellular.jBlocklink.active, .cellular.jBlocklink:active, .cellular.jBlocklink:hover, .cellular.jBlocklink:focus {
  color: #565450;
  text-decoration: none;
  -webkit-box-shadow: 0 0 0.3em 0.3em #bbbab7;
  -moz-box-shadow: 0 0 0.3em 0.3em #bbbab7;
  box-shadow: 0 0 0.3em 0.3em #bbbab7;
}
/* line 118, ../sass/style/_style-ui.scss */
.cellular.jTabs {
  display: block;
  clear: both;
  margin: 0;
  padding: 1em 0;
}
/* line 126, ../sass/style/_style-ui.scss */
.cellular.jTabs li,
.cellular.jTabs .tab,
.cellular.jTabs .title {
  display: inline;
  list-style: none;
  margin: 0 0.1em 0 0;
}

/*

    &.next,
    &.back {
        cursor: pointer;
        position: absolute;
        top: 0;
        bottom: 0;
        display: block;
        width: 3em;
        color: $c2;
        background-color: $dark_grey;
        background-color: rgba($dark_grey, 0.6);
    }
    &.next {
        right: 0
    }
    &.back {
        left: 0
    }

.jcarousel-clip {
    display: block;
    margin: $small 3em;
    overflow: hidden;
}
.jcarousel {
    position: relative;
    height: 240px;
}

.jcarousel-item-placeholder {
    background: #fff $loading no-repeat center center;
    color: #000;
}
.jcarousel-item {
    width: 33%
}

.jcarousel-navigation {
    text-align: center;

    li {
        display: inline;
        list-style: none;
        border: $light_grey 1px solid;

        a {
            padding: .4em 1em;
        }
    }
}
.jcarousel-next,
.jcarousel-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 3em;
    background-color: rgba($light_grey, 0.4);
    background-image: url('../assets/images/svg/carousel-arrows.svg');
    background-repeat: no-repeat;
    background-size: auto 100%;

    &:hover,
        :focus {
        background-color: rgba($grey, 0.5);
    }
}
.jcarousel-next {
    right: 0;
    background-position: right center;
}
.jcarousel-prev {
    left: 0;
    background-position: left center;
}
*/
/* ****
Cellular :: region styles
**** */
/* line 11, ../sass/style/_style-content-regions.scss */
body {
  background-color: #fefefe;
}

/* line 36, ../sass/style/_style-content-regions.scss */
#console,
#header-top,
#header,
#header-bottom,
#content-top,
#content,
#content-bottom,
#sidebar-left,
#sidebar-right,
#footer,
#footer_left,
#footer-right,
#footer-middle {
  margin: 0;
  padding: 0;
  border: 0;
}

/* line 42, ../sass/style/_style-content-regions.scss */
#header-top {
  z-index: 4;
  background: #16708b;
  color: #fefefe;
  border-bottom: #111111 thin solid;
  text-align: right;
  zoom: 1;
}
/* line 33, ../sass/_mixins.scss */
#header-top:before, #header-top:after {
  content: "";
  display: table;
}
/* line 37, ../sass/_mixins.scss */
#header-top:after {
  clear: both;
}
/* line 51, ../sass/style/_style-content-regions.scss */
#header-top div {
  display: inline;
}
/* line 56, ../sass/style/_style-content-regions.scss */
#header-top h2,
#header-top h3,
#header-top h4 {
  color: #81d3ec;
  font-size: 1em;
  display: inline;
}

/* line 79, ../sass/style/_style-content-regions.scss */
#header {
  z-index: 2;
  height: 72px;
  padding: .8em;
  background: #AAA;
  background: rgba(17, 17, 17, 0.4);
}

/* line 108, ../sass/style/_style-content-regions.scss */
#header-bottom {
  height: 32px;
  color: #fefefe;
  border-bottom: #111111 thin solid;
}

/* line 136, ../sass/style/_style-content-regions.scss */
#app {
  z-index: 1;
  overflow: visible;
}

/* line 141, ../sass/style/_style-content-regions.scss */
#content-position {
  display: block;
  margin: 0 auto;
  max-width: 1200px;
}

/* line 180, ../sass/style/_style-content-regions.scss */
#content,
#sidebar-left,
#sidebar-right,
#footer {
  position: relative;
  float: left;
  display: block;
}

/* line 186, ../sass/style/_style-content-regions.scss */
#content {
  z-index: 2;
}

/* line 211, ../sass/style/_style-content-regions.scss */
#comments {
  text-align: center;
}
/* line 213, ../sass/style/_style-content-regions.scss */
#comments form {
  text-align: left;
}

/* line 219, ../sass/style/_style-content-regions.scss */
#sidebar-left,
#sidebar-right {
  background: #bbbab7;
}

/* line 232, ../sass/style/_style-content-regions.scss */
#footer {
  background: #565450;
  color: #fefefe;
}
/* line 238, ../sass/style/_style-content-regions.scss */
#footer h2,
#footer h3,
#footer h4 {
  color: #fefefe;
}
/* line 247, ../sass/style/_style-content-regions.scss */
#footer p {
  color: #fefefe;
}

/* line 274, ../sass/style/_style-content-regions.scss */
#footer-bottom {
  font-size: 0.75em;
  background: #565450;
  color: #bbbab7;
  border-top: thin solid;
}

/* line 302, ../sass/style/_style-content-regions.scss */
#copyright {
  padding: 0.75em 1.4em 0.75em;
  text-align: right;
  font-weight: bold;
}

/* line 309, ../sass/style/_style-content-regions.scss */
#social-media-follow,
#social-media-share {
  position: relative;
  width: 100%;
  padding: 0 0 1em 0;
  background: #fefefe;
  border-top: #565450 1em solid;
  overflow: hidden;
}
/* line 316, ../sass/style/_style-content-regions.scss */
#social-media-follow form,
#social-media-share form {
  margin: 0;
  padding: 0;
  display: inline;
}
/* line 323, ../sass/style/_style-content-regions.scss */
#social-media-follow h2,
#social-media-follow h3,
#social-media-follow h4,
#social-media-share h2,
#social-media-share h3,
#social-media-share h4 {
  font-size: 1em;
  font-weight: bold;
  margin: 0;
}

/* ****
Cellular :: branding
**** */
/* line 7, ../sass/style/_style-branding.scss */
#logo {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
}
/* line 13, ../sass/style/_style-branding.scss */
#logo h2 {
  position: absolute;
  width: 72px;
  height: 72px;
  margin: 0;
  padding: 0;
  line-height: 0;
  text-indent: -999em;
  background: none;
}
/* line 23, ../sass/style/_style-branding.scss */
#logo a {
  display: block;
  text-indent: -999em;
  /* Match logo dimensions to create logo button */
  width: 72px;
  height: 72px;
  padding: 0.4em;
  background-image: url("../assets/images/png/logo.png");
  background-position: 0.4em 0.4em;
  background-color: rgba(17, 17, 17, 0.5);
  background-repeat: no-repeat;
}

/* line 41, ../sass/style/_style-branding.scss */
.svg #logo > a {
  background-image: url("../assets/images/svg/logo.svg");
}

/*****
Cellular :: navigation
*****/
@media screen {
  /* line 11, ../sass/style/_style-navigation.scss */
  #nav {
    margin: 2em 0 0 92px;
    padding: 0;
    right: 0;
  }
  /* line 15, ../sass/style/_style-navigation.scss */
  #nav ul {
    margin: 0;
  }
  /* line 18, ../sass/style/_style-navigation.scss */
  #nav li {
    display: inline;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  /* line 26, ../sass/style/_style-navigation.scss */
  #nav a,
  #nav a:visited {
    display: inline-block;
    margin: 0 .1em;
    padding: 0.5em 1em 0.1em 1em;
    font-family: "Quicksand";
    font-size: 1em;
    font-weight: bold;
    white-space: nowrap;
    text-decoration: underline;
    background: #2b2b2b;
    color: #fefefe;
    border-top: .3em solid;
  }
  /* line 41, ../sass/style/_style-navigation.scss */
  #nav a:hover, #nav a:focus, #nav a:active,
  #nav a:visited:hover,
  #nav a:visited:focus,
  #nav a:visited:active {
    text-decoration: none;
    background: #444444;
    color: #29b4de;
  }
  /* line 51, ../sass/style/_style-navigation.scss */
  #nav li ul {
    left: -9999px;
    position: absolute;
    background-color: #fefefe;
    background-color: rgba(254, 254, 254, 0.8);
    color: white;
  }
  /* line 61, ../sass/_mixins.scss */
  #nav li ul h2,
  #nav li ul h3,
  #nav li ul h4 {
    color: white;
  }
  /* line 64, ../sass/_mixins.scss */
  #nav li ul p {
    color: white;
  }
  /* line 58, ../sass/style/_style-navigation.scss */
  #nav li:hover > ul {
    left: 0;
    animation-duration: .5s;
    animation-name: slideDown;
  }
  /* line 63, ../sass/style/_style-navigation.scss */
  #nav li li {
    padding: .1em 0 0 0;
  }
  /* line 65, ../sass/style/_style-navigation.scss */
  #nav li li a {
    display: block;
  }
  /* line 68, ../sass/style/_style-navigation.scss */
  #nav li li > ul {
    border: thin solid;
    font-size: .9em;
    margin: 0;
    padding: .5em .3em;
    z-index: 99;
  }
  /* line 77, ../sass/style/_style-navigation.scss */
  #nav li li:hover > ul li ul {
    font-size: .9em;
    border: thin solid;
    left: 0;
    margin: 0;
    z-index: 100;
  }
  /* line 84, ../sass/style/_style-navigation.scss */
  #nav li li:hover > ul li > ul li:hover > ul {
    left: 1em;
  }

  /* line 95, ../sass/style/_style-navigation.scss */
  #breadcrumb {
    display: inline;
    display: inline-block;
    height: 2em;
    li-list-style: none;
    li-line-height: 2em;
    li-margin: 0 0 0 .2em;
    li-width: 100%;
  }
  /* line 105, ../sass/style/_style-navigation.scss */
  #breadcrumb .home {
    background: url(../assets/images/icon-home.png);
    color: #111111;
    padding: 0 0 0 34px;
  }
  /* line 111, ../sass/style/_style-navigation.scss */
  #breadcrumb a:visited {
    color: #16708b;
  }
  /* line 116, ../sass/style/_style-navigation.scss */
  #breadcrumb a:hover, #breadcrumb a:focus, #breadcrumb a:active {
    color: #29b4de;
  }
}
@media screen and (max-width: 650px) {
  /* line 126, ../sass/style/_style-navigation.scss */
  #nav {
    display: block;
    float: none;
    li-margin: 0;
    li-padding: 0;
  }
  /* line 130, ../sass/style/_style-navigation.scss */
  #nav.jMmenu.mini {
    cursor: pointer;
    display: block;
    z-index: 10;
    width: 32px;
    height: 32px;
    background-image: url("../assets/icons/png/menu.png");
  }
  /* line 138, ../sass/style/_style-navigation.scss */
  #nav.jMmenu.mini > ul > li {
    position: relative;
    top: 32px;
    width: 12em;
    display: block;
  }
  /* line 144, ../sass/style/_style-navigation.scss */
  #nav.jMmenu.mini > ul > li > ul {
    display: none;
  }
  /* line 148, ../sass/style/_style-navigation.scss */
  #nav.jMmenu.mini a {
    display: block;
  }
  /* line 158, ../sass/style/_style-navigation.scss */
  #nav a,
  #nav a:visited {
    padding: 1em;
  }
}
/*****
Cellular :: mobile
*****/
@media screen and (max-width: 650px) {
  /* line 10, ../sass/style/_style-mobile.scss */
  #content-wrap {
    padding: 1em 0;
  }

  /* line 14, ../sass/style/_style-mobile.scss */
  #header {
    height: auto;
  }
}
/*****
    Cellular :: style-large
*****/
/*****
Cell::Style Regions
*****/
/* line 8, ../sass/style/_style-svg.scss */
.svg #logo > a {
  background-image: url(url("../assets/images/svg/logo.svg"));
}
/* line 13, ../sass/style/_style-svg.scss */
.svg #nav.jMmenu.mini {
  width: 3em;
  height: 3em;
  background-size: 3em;
  background-image: url("../assets/icons/svg/menu.svg");
}
/* line 19, ../sass/style/_style-svg.scss */
.svg #nav.jMmenu.mini > ul > li {
  top: 3em;
}
/* line 25, ../sass/style/_style-svg.scss */
.svg .ok {
  list-style-image: url("../assets/images/svg/message_icon_ok.svg");
}
/* line 28, ../sass/style/_style-svg.scss */
.svg .warning {
  list-style-image: url("../assets/images/svg/message_icon_warning.svg");
}
/* line 31, ../sass/style/_style-svg.scss */
.svg .error {
  list-style-image: url("../assets/images/svg/message_icon_error.svg");
}
