$i_white: url("images/ui-icons_fff_256x240.png");
$i_light_grey: url("images/ui-icons_ccc_256x240.png");
$i_grey: url("images/ui-icons_8A8882_256x240.png");
$i_dark_grey: url("images/ui-icons_444_256x240.png");
$i_black: url("images/ui-icons_000_256x240.png");

$i_red: url("images/ui-icons_c00_256x240.png");
$i_green: url("images/ui-icons_61D43F_256x240.png");
$i_blue: url("images/ui-icons_15f_256x240.png");

$i_cyan: url("images/ui-icons_29B4DE_256x240.png");
$i_magenta: url("images/ui-icons_DD2A99_256x240.png");
$i_yellow: url("images/ui-icons_ec2_256x240.png");

$i_orange: url("images/ui-icons_f50_256x240.png");

$i_default: $i_light_grey;
$i_hilight: $i_cyan;