/*****
    Cellular :: user interface
*****/
//////

.cellular {
    /////
    // Set appearance common to all UI elements
    /////
    position: relative;
    display: block;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    //max-width: 50em;

    li {
        max-width: 90%;
    }

    .title {
        cursor: pointer;
        margin: 0;
        max-width: 100%;
        padding: $small $normal;
        background: $black;
        color: $white;
        @include transition();

        &:hover {
            background: darken($hilight, 10%);
        }
        a,
        a:visited {
            font-weight: bold;
            line-height: $big;
            color: $white;
            border: none;
            text-decoration: none;

            &:hover,
                &:active,
                &.active {
                border: none;
                text-decoration: none;
            }
        }
    }

    .panel {// Area content is displayed in accordions & tabs
            display: block;
            overflow: hidden;
            margin: 0;
            padding: $normal;
            background-color: $white;
            color: $dark_grey;
            border: .1em solid;
    }

    /////
    // Set appearance of active UI elements
    /////
    .active {

        .title {
            background: $hilight;
        }
    }

    /////
    // Set appearance of individual UI elements
    /////
    &.jAccordion {

        li {
            margin: 0 auto .1em;
        }

        .title {
            padding-left: 32px;
            background-image: url(../assets/icons/svg/plus.svg);
            background-size: 16px;
            background-repeat: no-repeat;
            background-position: 1% center; 
        }
        .panel {
        }

        .active {
            .title {
                background-image: url(../assets/icons/svg/minus.svg);
            }
        }
    }

    &.jBlocklink {
        display: inline-block;
        vertical-align: top;
        margin: 1em;
        color: $light_grey;
        @include transition();
        @include box-shadow(0 0 .1em .1em $light_grey);

        &.active,
        &:active,
            &:hover,
            &:focus {
            color: $dark_grey;
            text-decoration: none;
            @include box-shadow(0 0 .3em .3em $light_grey);

        }
        img {
            //@include transition();
        }
        p {
        }
    }

    &.jMmenu{

        &.mini {
            position: absolute;
            top: 1em;
            right: 1em;
            display: block;
            cursor: pointer;
            z-index: 10;
            width: 3em;
            height: 3em;
            padding: 1em;
            background-image: url('../assets/icons/png/menu.png');
            background-repeat: no-repeat;
            background-position: center center;
            border:1px solid;


            & > ul {

                & > li {
                    position: relative;
                    top: 32px;
                    right: 0;
                    width: 12em;
                    display: block;

                    & > ul {
                        display: none;
                    }
                }
            }
            a {
                display: block;
            }
        }
    }

    &.jScrolli {
        ul {
            margin: 0;
            padding: 0;
        }
        li {
            display: block;
            list-style: none;
            margin: 0;
            padding: 1em;
        }
    }

    &.jTabs {
        display: block;
        clear: both;
        margin: 0;
        padding: $normal 0 ;
        // background-color: $light_grey;
        li,
        .tab,
        .title {
            display: inline;
            list-style: none;
            margin: 0 0.1em 0 0;
        }
        .panel {
        }
    }
}
/*

    &.next,
    &.back {
        cursor: pointer;
        position: absolute;
        top: 0;
        bottom: 0;
        display: block;
        width: 3em;
        color: $c2;
        background-color: $dark_grey;
        background-color: rgba($dark_grey, 0.6);
    }
    &.next {
        right: 0
    }
    &.back {
        left: 0
    }

.jcarousel-clip {
    display: block;
    margin: $small 3em;
    overflow: hidden;
}
.jcarousel {
    position: relative;
    height: 240px;
}

.jcarousel-item-placeholder {
    background: #fff $loading no-repeat center center;
    color: #000;
}
.jcarousel-item {
    width: 33%
}

.jcarousel-navigation {
    text-align: center;

    li {
        display: inline;
        list-style: none;
        border: $light_grey 1px solid;

        a {
            padding: .4em 1em;
        }
    }
}
.jcarousel-next,
.jcarousel-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 3em;
    background-color: rgba($light_grey, 0.4);
    background-image: url('../assets/images/svg/carousel-arrows.svg');
    background-repeat: no-repeat;
    background-size: auto 100%;

    &:hover,
        :focus {
        background-color: rgba($grey, 0.5);
    }
}
.jcarousel-next {
    right: 0;
    background-position: right center;
}
.jcarousel-prev {
    left: 0;
    background-position: left center;
}
*/