/* ****
Cellular :: branding
**** */
//////
/////

#logo {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;

    h2 {
        position: absolute;
        width: $logo_width;
        height: $logo_height;
        margin: 0;
        padding: 0;
        line-height: 0;
        text-indent: -999em;
        background: none;
    }
    a {
        display: block;
        text-indent: -999em;
        /* Match logo dimensions to create logo button */
        width: $logo_width;
        height: $logo_height;
        padding: $logo_pad;
        background-image: $logo_png;
        background-position: $logo_pad $logo_pad;
        background-color: rgba($c1, 0.5);
        background-repeat: no-repeat;
        //@include box-shadow(inset 0 0 4em $dark_grey);
    }
    & > a:hover {
        //@include box-shadow(inset 0 0 2em $c1);
    }
}

.svg #logo > a {
    background-image: $logo_svg;
}