/*****
Cellular :: print

(c) 2012 Adam Blankenship
www.abctahoe.net
*************** */
@media print {
  /* line 14, ../sass/print.scss */
  img, p {
    page-break-inside: avoid;
  }

  /* line 17, ../sass/print.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 21, ../sass/print.scss */
  h2, h3 {
    page-break-after: avoid;
  }

  /* line 26, ../sass/print.scss */
  a,
  a:visited {
    color: #444;
    text-decoration: underline;
  }

  /* line 30, ../sass/print.scss */
  a:after {
    content: " (" attr(href) ")";
  }

  /* line 33, ../sass/print.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 40, ../sass/print.scss */
  #app,
  #content-wrap,
  #content-main {
    width: 100%;
  }

  /* line 45, ../sass/print.scss */
  #header,
  #footer,
  .hidden {
    visibility: hidden;
    display: none;
  }
}
